.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 3%;
}

.search-button:hover {
    opacity: 90%;
}

.locations, .amenities {
    width: 25%;
    height: 100%;
    position: relative;
    padding-left: 55px;
}

.locations {
    border-right: 1px solid #dddddd;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 14px 0 5px 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}
